# Carpeta node_modules generada por npm
node_modules/

# Archivos de construcción de Angular
/dist/
/*.js
/*.js.map
/*.css
/*.css.map
/index.html
/*.ico

# Archivos de configuración de Angular
/e2e/
/src/test.ts
/src/polyfills.ts
/src/main.ts

# Archivos de configuración y caché de IDEs
/.idea/
/.vscode/
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Otros archivos generados en el desarrollo
/coverage/
/test-results.xml

