

<!-- Agregando -->
<h2>Agregar cliente</h2>
<form (submit)="saveCustomer()">
	<label for="name">Nombre:</label>

	<input type="text" id="name" name="name" [(ngModel)]="newCustomer.name"
		required>

	<br>

	<label for="tel">Tel:</label>
	<input type="text" id="tel" name="tel" [(ngModel)]="newCustomer.tel" required>

	<br>

	<label for="email">Email:</label>
	<input type="email" id="email" name="email" [(ngModel)]="newCustomer.email"
		required>

	<br>
	<label for="lastVisitDate">Ultima visita:</label>
	<input type="date" id="lastVisitDate" name="lastVisitDate"
		[(ngModel)]="newCustomer.lastVisitDate" required>
	<br>
	<label for="netxVisitDate">Proxima:</label>
	<input type="date" id="netxVisitDate" name="nextVisitDate"
		[(ngModel)]="newCustomer.nextVisitDate" required>
	<br>
	<label for="note">Notas:</label>
	<textarea id="note" name="note" [(ngModel)]="newCustomer.note"></textarea>
	<br>
	<button class="btn btn-primary" type="submit">Guardar</button>
</form>
<br>

<!-- lista de todos los clientes -->
<div class="table-responsive-md">
	<table class="table table-bordered table-striped">

		<caption>Datos de cliente</caption>
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Tel</th>
				<th>Email</th>
				<th>Ultima visita</th>
				<th>Proxima</th>
				<th>Notas</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let customer of customers">
				<td>{{ customer.id }}</td>
				<td>{{ customer.name }}</td>
				<td>{{ customer.tel }}</td>
				<td>{{ customer.email }}</td>
				<td>{{ customer.lastVisitDate | date }}</td>
				<td>{{ customer.nextVisitDate | date }}</td>
				<td>{{ customer.note }}</td>
				<td>
					<button class="btn btn-danger" (click)="deleteCustomer(customer.id)">Eliminar</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<hr>
